un.dtd

<!ELEMENT doc (livre* | article+)>
<!ELEMENT livre (titre, auteur+)>
<!ELEMENT article (titre, auteur+)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (nom, adresse)>
    <!ATTLIST auteur 
        id CDATA #REQUIRED>
<!ELEMENT nom (prenom, nomFamille)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT nomFamille (#PCDATA)>
<!ELEMENT adresse ANY>