correction/note1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name ="typeNote">
        <xs:sequence>
                <xs:element name="de" type="xs:string"/>
                <xs:element name="a" type="xs:string"/>
                <xs:element name="objet" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="date" type ="xs:date"/>
    </xs:complexType>
    <xs:element name="note" type="typeNote"/>
        
    
</xs:schema>